
@media screen and (max-width:820px) {
    .wr{
        
        border-bottom: 2px solid black;
        display:none;
    
    }
 
    #main-menu{
        display: flex;
        flex-direction: column;
        gap:0;
        justify-content: center;
    }
    nav{
        position: fixed;
        width: 100%;
        z-index: 9999;
        
    }
    

    #search-mt{
        display: none;
    }
    #search-dt{
        display: block;
    }  
    #toggle{
        display: flex; 
        justify-content: space-between;
        border-bottom: 2px solid black;
        
    }
    .slider{
        margin-top: 70px;
    }
  
    #logo{
        display:none;
    }
    #logo-ip{
        display: block;
        width: 60px;
        height: 60px;    
    }
    .mid-col{
        padding:5px 0;
    }
    .sv{
        width: auto;
        height:auto;
    }
    
    .footer-col h4 {
        font-size: 14px;
    }
    .footer-col ul li a,p{
        font-size: 13px;
      
    }
   
    
   
    .car{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
      
        
    }
    .card-col{
        padding:0px;
    }
    .col{
        width:100px;
        display:flex;
        justify-content: center;
    }
   
    .col-md-4 img{
        width: calc(100%);
       padding-left: -10px;
        object-fit: cover;
        margin-left: -30px;
     
    }
    .col-md-8{
        margin-top: -30px;
    }
    .item_car{
        width:100%;
        
    }
    .items_car_loop {
        width: calc(100%);
        margin-top: 50px;
        margin-left: 8px;
    }
    .checkbox-container label{
        width:360px;
        
        
        font-weight: 1000;
        align-items: center;
     
    }
    .col p{
        font-size: 10px;
    }

    .lienhe{
        height:250px;
    }
    .car-container{
        margin-top: 100px;
    }
    .wrapper{
        max-height:375px;
    }
    .pd-icon img{
        height: 100px;
    }
    .sv-content{
        margin-bottom:13px;
    }
    

    
   
}







